@{
    Layout = "~/Views/Shared/_LayoutWithoutNavbar.cshtml";
    ViewBag.Title = "Home Page";
}
<!--start of header-->
<header>
    <div class="color-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h1><i class="fa fa-check-square-o"></i>Dowee</h1>
                    <h2>Things To Be Done!</h2>
                    <h3>Start by doing what is necessary; then do what is possible; <br />and suddenly you are doing the impossible.</h3>
                    <a href="~/Account/Register" class="btn-lg btn-info">Join Us !</a> <span class="spaceBottons">OR</span>
                    <a href="~/Account/Login" class="btn-lg btn-primary">Login Now !</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end of header-->
