@model ToDoList.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<h2 class="main-title">Manage Your Account.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><h4>Username:</h4></dt>
        <dd>

            <h4>@User.Identity.GetUserName()</h4>
        </dd>
        <dt><h4>Password:</h4></dt>
        <dd>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn createBtn" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </dd>

    </dl>
</div>
