@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

/*------------------start of login page------------------*/

/*start of login-body*/
.login-img {
    background-color: #B6E9FF;
    bottom: 0;
    height: 100%;
    right: 0;
    position: fixed;
    top: 0;
    width: 50%;
    color: #0E5681;
}

.login-img img {
    margin: 0px auto;
    width: 400px;
    height: 400px;
}

.login-img-data {
    text-align: left;
    width: 350px;
    margin: 100px auto;
}

.login-img .login-img-data p {
    font-size: 70px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.login-img .login-img-data .fa {
    font-size: 380px;
    display: inline-block;
}

.login-img h1 {
    margin: 0px
}

.login-info {
    padding: 70px;
    background: #0E5681;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 50%;
    color: #fff;
}

.login-info {
    padding: 100px;
}

.login-info h1 {
    color: #23e070;
}

.login-info h3 {
    color: #091627;
}

.login-info .login-form {
    max-width: 450px;
    margin-top: 30px;
}

.login-info .input-group-addon {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.login-info .form-control {
    border: 1px solid #333;
}

.login-info .login-form .btn {
    display: block;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin-top: 40px;
    border-radius: 5px;
}

.login-info .login-form .btn:hover {
    background-color: #fff;
    color: #333;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.login-info .login-form .radio label,
.login-info .login-form .checkbox label {
    padding-left: 0px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: inherit;
    margin-top: 4px \9;
    margin-left: 0px;
}
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.login-info h1 {
    color: #fff;
}

.login-info h2 {
    color: #B6E9FF;
}
.login-info .gotoRegister {
    margin-top: 20px;
    font-size: 16px;
}
.login-info .gotoRegister a {
    text-decoration:none;
    color: #B6E9FF;
}
.login-info .gotoRegister a:hover{color:#fff;}
@media screen and (max-width: 400px) {
    .login-info {
        padding: 40px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 991px) {
    .login-info {
        width: 100%;
    }
}
/*end of login-body*/

/*------------------end of login page------------------*/


/*start of navbar*/
.navbar-default {
    background-color: #B6E9FF;
    border-radius: 0px;
    border: 0px;
    border-bottom: 3px solid #0E5681;
    border-top: 3px solid #0E5681;
    padding: 10px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #0e5681;
}
.navbar-default .navbar-brand:hover {
    color: #000;
}
@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #0E5681;
    border-radius: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #0E5681;
    color: #B6E9FF;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 10px 22px;
        margin: 3px;
    }
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        margin: 10px 0px;
    }

    .navbar-nav > li > :hover {
        padding-left: 25px;
        transition: all 0.5s ease-in-out;
    }
}

.navbar-toggle {
    margin-top: 20px;
    border: 0px;
    border-radius: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #B6E9FF;
}

.navbar-toggle .icon-bar {
    width: 25px;
    height: 3px;
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0E5681;
}
/*end of navbar*/

/*start of header*/
header {
    background: url('../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header .color-content {
    background-image: linear-gradient(-45deg, rgba(14, 87, 129, 0.8), rgba(182, 233, 255, 0.8));
    height: 100vh;
}

header h1 {
    margin: 0px;
    color: #0E5681;
    font-size: 150px;
    padding-top: 150px;
    margin-bottom: 0px;
}

header h3 {
    color: #fff;
}

header button {
    background-color: #0E5681;
    color: #B6E9FF;
    padding: 15px 40px;
    border: 0px;
    border-radius: 5px;
    margin-top: 30px;
}

header button:hover {
    background-color: #B6E9FF;
    color: #0E5681;
}

header button.LoginButton {
    background-color: #B6E9FF;
    color: #0E5681;
}
header button.LoginButton:hover {
    background-color: #0E5681;
    color: #B6E9FF;
}
    header .spaceBottons{
        color:#fff;
        font-size:20px;
        margin:0px 5px;
    }
/*end of header*/

.table tbody tr:nth-child(odd) {
    background: #eee;
}

.table tbody tr.FirstData {
    background-color: #0e5681;
    color: #B6E9FF;
}
.createBtn{
    background-color:#0E5681;
    color:#B6E9FF;
}
.createBtn:hover {
    background-color: #B6E9FF;
    color: #0E5681;
}
.main-title{
    border-left:3px solid #B6E9FF;
    padding-left:10px;
    color:#0E5681;
    margin-bottom:30px;
}








